@tailwind base;
@tailwind components;
@tailwind utilities;

@import "https://js.arcgis.com/4.28/@arcgis/core/assets/esri/themes/light/main.css";
@import "@esri/calcite-components/dist/calcite/calcite.css";


.esri-compass {
    border-radius: 0 !important
}

.esri-compass__icon-container {
    display: flex;
    justify-content: center;
}

.esri-time-slider {
    min-width: unset;
}

.esri-distance-measurement-2d {
    padding: 10px;
}

.esri-area-measurement-2d {
    padding: 10px;
}

.esri-time-slider__mode--time-window .esri-slider__segment-1 {
    background-color: #FFD37F !important;
}

.esri-slider__thumb {
    border: 2px solid #FFD37F !important;
}

.esri-slider__segment-0 {
    background-color: #FFD37F !important;
}

.esri-time-slider__time-extent {
    color: black !important;
    background-color: #f3f3f3 !important;
}

.esri-print__export-button.esri-button {
    background-color: #0079c1;
}

#mobileInfo {
    display: none;
}

#handle {
    display: none;
}



@media only screen and (max-width: 600px) {

    #titleContainer {
        flex-direction: column !important;
    }

    #mapContainer {
        width: 100% !important;
    }

    #handle {
        display: flex !important;
    }

    #sidePanel {
        width: 0;
        height: 0;
    }

    .sidePanelUp {
        top: 10% !important
    }

    #locationPanel {
        position: absolute;
        width: 100%;
        height: 50%;
        bottom: 0;
    }

    #mapviewContainer {
        width: 100% !important;
    }

    #analyze {
        position: absolute;
        height: 100%;
        overflow: visible;
        top: calc(100% - 124px - 30px);
        border-radius: 0.75rem;
    }

    #numbersDashboard {
        position: absolute;
        bottom: 0;
        z-index: 100;
        background: "#FFD37F";
        width: 100%;
        left: 0;
    }

    .generalNumbers {
        font-size: 0.75rem !important;
    }

    #filterTimeContainer {
        display: none !important;
    }

    #filterChart {
        overflow: visible !important;
    }



    #settings {
        width: 350px !important;
        height: 600px !important;
        top: calc(50% - 300px) !important;
        left: calc(50% - 175px) !important;
    }

    #mobileInfo {
        display: block;
    }

    #tooltip {
        display: none;
    }
}